PRACTICA_2/EJERCICIO_2_XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Tipos auxiliares -->
  <xs:simpleType name="tEstadoMatricula">
    <xs:restriction base="xs:string">
      <xs:enumeration value="activa"/>
      <xs:enumeration value="baja"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tNivelCurso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Básico"/>
      <xs:enumeration value="Intermedio"/>
      <xs:enumeration value="Avanzado"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tModalidad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="online"/>
      <xs:enumeration value="presencial"/>
      <xs:enumeration value="mixta"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- RAÍZ -->
  <xs:element name="plataforma">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cursos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="curso" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titulo" type="xs:string"/>
                    <xs:element name="nivel" type="tNivelCurso"/>
                    <xs:element name="modalidad" type="tModalidad"/>
                    <xs:element name="horas" type="xs:integer"/>
                    <xs:element name="modulos" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="modulo" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nombre" type="xs:string"/>
                                <xs:element name="horas" type="xs:integer"/>
                              </xs:sequence>
                              <xs:attribute name="clave" type="xs:string" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required"/>
                  <xs:attribute name="codigo" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="alumnos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="alumno" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="telefono" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required"/>
                  <xs:attribute name="nif" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="matriculas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="matricula" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fecha_alta" type="xs:date"/>
                    <xs:element name="estado" type="tEstadoMatricula"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required"/>
                  <xs:attribute name="alumnoRef" type="xs:IDREF" use="required"/>
                  <xs:attribute name="cursoRef" type="xs:IDREF" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="evaluaciones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="evaluacion" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="instrumento" type="xs:string"/>
                    <xs:element name="convocatoria" type="xs:string"/>
                    <xs:element name="nota" type="xs:decimal"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required"/>
                  <xs:attribute name="matriculaRef" type="xs:IDREF" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attribute name="fecha_publicacion" type="xs:date" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
